{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<center>
    <h2>REGISTRO DE ENTRADA</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
                </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="inicio/registro_vehiculos">Registro</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                </ul>
                <form class="d-flex" method=POST action="{% url 'vehiculos_buscados' %}">
                    <input class="form-control me-2" type="Search" placeholder="Placa" aria-label="Search"
                           name="buscado">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </nav>
    <br/>
    <p align="left">No. de registros encontrados {{no_vehiculos}}</p>
    <br/>
    <table style="border-collapse:collapse" border="1" cellpadding="5px">
        <thead style="background-color:skyblue">
        <tr>
            <th>FECHA</th>
            <th>PLACA</th>
            <th>MARCA</th>
            <th>CEDULA</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>ORIGEN</th>
            <th>DETALLE</th>
            <th>EDITAR</th>
        </tr>
        </thead>
        <tbody>
        {% for vehiculo in vehiculos_b %}
        <tr>
            <td>{{vehiculo.fecha_in}}</td>
            <td>{{vehiculo.placa}}</td>
            <td>{{vehiculo.marca}}</td>
            <td>{{vehiculo.cedula_p}}</td>
            <td>{{vehiculo.nombre_p}}</td>
            <td>{{vehiculo.apellido_p}}</td>
            <td>{{vehiculo.origen}}</td>
            <td><a href="inicio/ver_detalle/{{vehiculo.id}}" style="text-decoration:none">Ver detalle</a></td>
            <td><a href="inicio/editar_vehiculo/{{vehiculo.id}}" style="text-decoration:none">Editar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if vehiculos.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo Frist</a></li>
            <li class="page-item"><a class="page-link" href="?page={{vehiculos.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% for i in nums %}
            <li class="page-item disabled"><a class="page-link" href="?page={{forloop.counter}}">
                {{forloop.counter}}
            </a></li>
            {% endfor %}
            {% if vehiculos.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{vehiculos.next_page_number}}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{vehiculos.paginator.num_pages}}">Last &raquo</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</center>
{% else %}
    <h4>Por favor ingresar a la aplicacion en: <a href="http://127.0.0.1:8000"style="text-decoration:none">
        Iniciar sesion</a></h4>
{% endif %}
{% endblock %}